MONGODB_URI=
MONGODB_DB_NAME=cookit
SECRET_KEY=replace-this-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=120
CORS_ORIGINS=*
GEMINI_API_KEY=*
EDAMAM_APP_ID=
EDAMAM_APP_KEY=
EDAMAM_ACCOUNT_USER=cookit-web
GOOGLE_CLIENT_ID=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FACEBOOK_GRAPH_VERSION=v24.0
